.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.trail_details{
  font-size: 19px;
  box-sizing: border-box;
  align-items: center;
  width: 600px;
  border: 5px solid black;
  margin: 0 auto;
  border-radius: 15px;
  background: rgba(76, 90, 80, 0.55);
  box-shadow: 0 0 25px 1px black;
  padding: 30px;
}



.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
